body {
    background-color: var(--main__bg-color);
    color: var(--main__text);
    font-family: var(--main__font-family);
    text-align: center;
    height: 100vh;
    margin: 0;
}

svg {
    width: 100px;
    display: block;
    margin: 50px auto 50px
}

.state {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    height: 320px;
    width: 310px;
    border-radius: 10px;
    background-color: #222222;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.path.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
}

.path.circle-loader {
    -webkit-animation: spin .9s linear infinite;
    animation: spin .9s linear infinite;
    transform-origin: center;
}


.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
}

.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
}

p {
    margin: 20px 0 60px;
    font-size: 1.20em;
}

p.load {
    color: #b3b3b3;
}

p.success {
    color: #73AF55;
}

p.error {
    color: #D06079;
}

@-webkit-keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}


@keyframes spin {
    0% {
        stroke-dashoffset: 900;
        transform: rotate(0deg);
    }

    50% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 900;
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }

    100% {
        stroke-dashoffset: 900;
    }
}